<a href="https://colab.research.google.com/github/abhinav1312/ProjectReview1/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Importing modules**

In [ ]:

!pip install -U -q PyDrive
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials
import pandas as pd
import string
import sklearn
import re
auth.authenticate_user()
gauth=GoogleAuth()
gauth.credentials=GoogleCredentials.get_application_default()
drive=GoogleDrive(gauth)

# **importing dataset from google drive in colab**

In [ ]:
downloaded=drive.CreateFile({'id' :'1FQeZ9lMwE2lehXi84M5sps9b2OGGKQH5'})
downloaded.GetContentFile('dataset.csv')

# Reading **dataset**

In [ ]:

data=pd.read_csv('dataset.csv')
#pd.set_option('display.max_colwidth',300)
#data.columns
data.head()

   index  ...                                               Text
0      0  ...                               "You fuck your dad."
1      1  ...  "i really don't understand your point.\xa0 It ...
2      2  ...  "A\\xc2\\xa0majority of Canadians can and has ...
3      3  ...  "listen if you dont wanna get married to a man...
4      4  ...  "C\xe1c b\u1ea1n xu\u1ed1ng \u0111\u01b0\u1edd...

[5 rows x 4 columns]

# **Dataset cleaning**

In [ ]:

data.drop(['Date'], axis=1 ,inplace=True) #drop date column
def clean_txt(txt):
  txt="".join([c for c in txt if c not in string.punctuation])
  txt=re.sub(r'#',"",txt) #Removed ‘#’ symbol
  txt=re.sub(r"RT[\s]+","",txt)  #Removing RT
  txt=re.sub(r"https?:\/\/\s+","",txt) #Removing the hyperlink
  return txt
data['Text']=data['Text'].apply(lambda x: clean_txt(x))
data.head()

   index  oh_label                                               Text
0      0         1                                  You fuck your dad
1      1         0  i really dont understand your pointxa0 It seem...
2      2         0  Axc2xa0majority of Canadians can and has been ...
3      3         0  listen if you dont wanna get married to a man ...
4      4         0  Cxe1c bu1ea1n xuu1ed1ng u0111u01b0u1eddng biu1...

# **Vectorizing the dataset**

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split

# **Labelling columns**

In [ ]:

X=data['Text']
y=data['oh_label'] 
data.isnull().sum()
X.shape

(8799,)

# **Vectorizing and creating sparse matrix of dataset**

In [ ]:
cv=CountVectorizer()
X=cv.fit_transform(X) #creating sparse matrix

# **Splitting dataset into train-test modules**

In [ ]:

x_train, x_test,y_train, y_test=train_test_split(X,y, test_size=0.2, random_state=42)

# **Importing Naive Bayes**

In [ ]:
from sklearn.naive_bayes import MultinomialNB

model=MultinomialNB()

model.fit(x_train, y_train)
model.score(x_test, y_test) #tells accuracy of our algorithm

0.7534090909090909

# **Taking input from user and applying naive bayes algorithm**

In [ ]:

msg="You are such a retarded person ."
data = [msg]
vect = cv.transform(data).toarray()
my_prediction = model.predict(vect)
if my_prediction[0]==1:
  print("Offensive")
else:
  print("Not Offensive")

Offensive